body {
	background-color: #59ABE3;
	font-family: Oswald;

}
nav {
	background-color:rgba(255, 255, 255, 0.5);
	padding: 10px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 30px;
}
h1 {
	background-color: rgba(255, 255, 255, 0.5);
	width: 30%;
	padding: 20px;
	color: white; 
	display: inline;
	border-radius: 30px;
}
button {
	background-color:rgba(255, 255, 255, 0.0);
	border-radius: 30px;
	border: none;
	padding: 30px;
	color:white;
	font-size: 15px;
}
button:hover {
	background-color:  #59ABE3;
	border-radius: 30px;
}
i {
	color: white;
	padding: 30px;
}
i:hover {
	background-color:  #59ABE3;
	border-radius: 30px;
}
.dash {
	color:white;
	text-align: center;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	margin: 20px;
}
.main {
	display: flex;
	justify-content: space-between;
}
.main div{
	width: 25%;
	color: white;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	padding: 10px;
}
.item {
	display: flex;
	font-size: 13px;
}
img {
	background-color: none;
}
/*
.footer {
	text-align: center;
	background-color: light blue;
	height: 100px;
	width: 100%;
}

.dash {
	text-align: center;
	height: 100px;
	width: 100%;
	border: 3px solid black;
}

.bottomDash {
	text-align: left;
	height: 100px;
	width: 100%;
	border: 3px solid black;
}

.main {
	text-align: center;
	margin: 0px auto;
	padding: 60px;
	border: 0;
	justify-content: center;
	width: 100%;
	display: inline-table;
	padding-right: 5px;
}

.item-1 {
	margin-right: 5px;
	float: left;
	height: 550px;
	width: 30%;
	/*background-color: red;*/
	/* border: 3px solid black;
}

.item-2 {
	margin-right: 5px;
	float: left;
	height: 550px;
	width: 30%;
	/*background-color: blue;*/
	/* border: 3px solid black; */
} 
/*
.item-3 {
	margin: 0;
	float: left;
	height: 550px;
	width: 30%; */
	/*background-color: green;*/
/*	border: 3px solid black;
}

.h3 {
	text-align: center;
}

p {
	text-align: left;
	margin-left: 5px;
}*/