body {
	background-color: #59ABE3;
	font-family: Oswald;

}

nav {
	background-color:rgba(255, 255, 255, 0.13);
	padding: 10px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 30px;
    
}

h1 {
	background-color:#1c70a9;
	width: 30%;
	padding: 20px;
	color: white; 
	display: inline;
	border-radius: 30px;
}

h3{
    text-align: center;
    font-size: 400%;
    margin: 5px 0;

}

button {
	background-color:#1c70a9;
	border-radius: 30px;
	border: none;
	padding: 30px;
	color:white;
	font-size: 175%;

}

button:hover {
	background-color:  #59ABE3;
	border-radius: 30px;
    transition: background-color .2s;
}

i {
    background-color:#1c70a9;
	color: white;
	padding: 30px;
}

i:hover {
	background-color:  #59ABE3;
	border-radius: 30px;
}

.dash {
	color:white;
	text-align: center;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	margin: 20px;  
}

.main {
	display: flex;
	justify-content:center;
    padding: 40px;
}

.main div{
	width: 40%;
	color: white;
	background-color: rgba(255, 255, 255, 0.14);
	border-radius: 30px;
	padding: 0px;
    
}

.item-1, .item-2{
    margin: 1%;
    margin: 0 60px;
}

.item {
	display:inline;
	font-size: 13px;
	padding: 0;
    
}


img{
	background-color: none;
    height: 85px;
    float: left;
    margin: 0 10px;
    padding: 0;
}


p{
    font-size: 200%;
    height: 100px;
    width: 80%;
    margin: 10px 0;
    padding-left: 30px;
    }